<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Polls</title>
  </head>
  <body>

    {{{body}}}

  </body>
  <!-- This is just the compiled production vue. I didn't want to complicate this project by building vue or using a CSS preprocessor, so I wrote components and css in the same file for simplicity. On a larger project I would expect to components to be in single file components and a more complex routing system -->
  <script src="js/vue.js"></script>
  <script src="js/components.js"></script>
  <script src="js/frontend.js"></script>


</html>
