html, body, div {
  margin: 0;
  padding: 0;
}

div {
  /* border: 0px;
  border: solid;
  border-color: black; */
}

/* Today's Poll Style */

.pollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 325px;
  max-width: 600px;
  padding: 10px;
}

.todayPoll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.todayPollContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.todayPollContentText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  max-width: 400px;
}

@media screen and (max-width: 650px){
    .totalVotes{
        align-self: center;
    }
}


.todayPollContentGraph {
  width: 200px;
  height: 200px;
  background-color: red;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 10px;
}

.button {
  display: inline-block;
  text-align: center;
}


.pollhr {
  border: 0;
  width: 100%;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
}

/* regular Poll Style */

.regPollContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 325px;
  max-width: 700px;
  width: 100%;
}

.regPoll {
  display: flex;
  width: 50%;
}

.regPollGraph {
  flex-shrink: 0;
  height: 80px;
  width: 80px;
  background-color: red;
}

.regPollText {
  flex-grow: 1;
}

.regPollText h5, p {
  margin: 0;
}
