html, body, div {
  margin: 0;
  padding: 0;
}

div {
  /* border: 0px;
  border: solid;
  border-color: black; */
}

/* Today's Poll Style */

.pollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 650px;
  padding: 10px;
}

.todayPoll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #e6e6e6;
  padding-left: 10px;
}

.todayPollContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.todayPollContentText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  flex-grow: 1;
  min-width:300px;
  max-width: 400px;
}

@media screen and (max-width: 450px){
    .totalVotes{
        align-self: center;
    }
}


.todayPollContentGraph {
  width: 200px;
  height: 200px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.button {
  display: inline-block;
  text-align: center;
  background-color: gray;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;

  color: white;
}

.buttonOrange {
  background-color: #ff9900;
}

.buttonBlue {
  background-color: #0000b3;
}


.pollhr {
  border: 0;
  width: 95%;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* regular Poll Style */

.regPollContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 325px;
  max-width: 700px;
  width: 100%;
}

.regPoll {
  display: flex;
  width: 50%;
}

@media screen and (max-width: 450px){
    .regPoll {
      width: 100%;
    }
}

.regPollGraph {
  flex-shrink: 0;
  height: 80px;
  width: 80px;
  background-image: url("../img/graphPic.png");
  background-size: cover;
  background-position: center;
}

.regPollText {
  padding: 10px;
  flex-grow: 1;
}

.regPollText h5, p {
  margin: 0;
}

.noStyleLink {
  color: inherit;
  text-decoration: inherit;
}

/* Detail Poll style */

.detailPoll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #e6e6e6;
  margin: 10px;
  background-color: lightblue;
}

.detailPollTitle {
  background-color: white;
}

.detailPollContent {
  margin-top: 20px;
  padding-left: 10px;
}

.mobile {

}
